---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import { SITE_TITLE } from '../consts';
import '../styles/global.scss';

interface Props {
  title: string;
  description: string;
  image?: string;
}

const pathname = Astro.url.pathname;

const canonicalURL = new URL(pathname, Astro.site);

const imagePathname = pathname === '/' ? '/index' : pathname;

const {
  title: _title,
  description,
  image = `/og${imagePathname}.png`,
} = Astro.props;
const titleWithSite = _title ? `${_title} | ${SITE_TITLE}` : SITE_TITLE;
const title = _title || SITE_TITLE;

const fonts = ['sourcesans3-latin-normal-v15', 'sourcesans3-latin-italic-v15'];
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta content="width=device-width,initial-scale=1" name="viewport" />
<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
<link href="/favicon.ico" rel="icon alternate" type="image/x-icon" />
<meta content={Astro.generator} name="generator" />

<!-- Font preloads -->
{
  fonts.map((font) => (
    <link
      as="font"
      crossorigin="anonymous"
      href={`/fonts/${font}.woff2`}
      rel="preload"
      type="font/woff2"
    />
  ))
}
<link href="https://fonts.googleapis.com" rel="preconnect" />
<link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />

<!-- Canonical URL -->
<link href={canonicalURL} rel="canonical" />

<!-- Primary Meta Tags -->
<title>{titleWithSite}</title>
<meta content={title} name="title" />
<meta content={description} name="description" />
<meta content="light dark" name="color-scheme" />

<!-- Open Graph / Facebook -->
<meta content="website" property="og:type" />
<meta content={Astro.url} property="og:url" />
<meta content={title} property="og:title" />
<meta content={description} property="og:description" />
<meta content={new URL(image, Astro.url)} property="og:image" />

<!-- Twitter -->
<meta content="summary_large_image" property="twitter:card" />
<meta content={Astro.url} property="twitter:url" />
<meta content={title} property="twitter:title" />
<meta content={description} property="twitter:description" />
<meta content={new URL(image, Astro.url)} property="twitter:image" />

<!-- RSS Feed -->
<link
  href={new URL('rss.xml', Astro.site)}
  rel="alternate"
  title="laymonage's Web Feed"
  type="application/rss+xml"
/>

<!-- Sitemap -->
<link href="/sitemap-index.xml" rel="sitemap" />

<!-- Umami -->
{
  !import.meta.env.DEV && (
    <script
      data-website-id="5a052b28-77bf-494e-84cd-7788c0c8cb23"
      defer
      is:inline
      src="/imamu.js"
    />
  )
}
