---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Giscus from '../components/Giscus.astro';
import Navigation from '../components/Navigation.astro';
import ScrollTop from '../components/ScrollTop.astro';
import SkipLink from '../components/SkipLink.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
  title?: string;
  description?: string;
  comments?: boolean | 'eager';
  indexed?: boolean;
  mainClass?: string;
}

const {
  description = SITE_DESCRIPTION,
  title = '',
  comments = false,
  indexed = false,
  mainClass = 'max-w-[66ch]',
} = Astro.props;

const giscusThemes = ['light', 'transparent_dark'];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      description={description}
      title={title ? `${title} | ${SITE_TITLE}` : SITE_TITLE}
    />

    {
      comments &&
        giscusThemes.map((theme) => (
          <link
            as="style"
            crossorigin="anonymous"
            href={`https://giscus.app/themes/${theme}.css`}
            rel="prefetch"
            type="text/css"
          />
        ))
    }
  </head>
  <body>
    <SkipLink />
    <div
      class="mb-14 sm:mb-0 has-[.bleed]:overflow-x-hidden [&>*]:max-w-4xl [&>*]:mx-auto"
    >
      <Navigation />
      <div class="p-4 sm:p-8 box-content">
        <main
          class:list={['mb-10 sm:mt-20 mx-auto flex flex-col', mainClass]}
          data-pagefind-body={indexed}
          id="main"
        >
          <slot />
          {comments && <Giscus class="my-8" eager={comments === 'eager'} />}
        </main>
        <ScrollTop />
        <Footer />
      </div>
    </div>
    <div
      class="bg fixed top-0 left-0 h-screen w-screen bg-cover bg-center opacity-40 2xl:opacity-100"
    >
    </div>

    {
      !import.meta.env.DEV && (
        <script
          data-website-id="5a052b28-77bf-494e-84cd-7788c0c8cb23"
          defer
          is:inline
          src="https://cloud.umami.is/script.js"
        />
      )
    }
  </body>
</html>
