---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';

type PostData = CollectionEntry<'posts'>['data'];

interface Props extends PostData {
  readingTime?: string;
}

const { title, description, date, readingTime, tags = [] } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="contents">
    <div class="mt-4 flex-row">
      <h1
        class="mb-4 text-5xl font-semibold tracking-tight text-black dark:text-white"
      >
        {title}
      </h1>
      <div class="mb-4 flex justify-between">
        <FormattedDate date={date} />
        {readingTime && <span>{readingTime}</span>}
      </div>
      {
        tags.length ? (
          <div class="mb-16">
            {tags.map((tag) => (
              <span class="mx-1 rounded border-2 border-gray-500 bg-gray-400 bg-opacity-20 p-1">
                {tag}
              </span>
            ))}
          </div>
        ) : null
      }
    </div>
    <div class="markdown mx-auto mt-4 mb-8">
      <slot />
    </div>
  </article>
</BaseLayout>
