---
import type { CollectionEntry } from 'astro:content';
import CopyButton from '../components/CopyButton.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { prose } from '../lib/classes';
import BaseLayout from './BaseLayout.astro';

type PostData = Omit<CollectionEntry<'posts'>['data'], 'date'>;

interface Props extends PostData {
  date: Date | string;
  readingTime?: string;
  comments?: boolean | 'eager';
}

const {
  title,
  description,
  date,
  readingTime,
  tags = [],
  comments,
} = Astro.props;
---

<BaseLayout
  comments={comments}
  description={description}
  indexed={true}
  title={title}
>
  <CopyButton />
  <article>
    <div class="mt-4 flex-row">
      <h1
        class="mb-4 text-5xl font-semibold tracking-tight text-black dark:text-white"
      >
        {title}
      </h1>
      {
        (date || readingTime) && (
          <div class="mb-4 flex justify-between">
            {date &&
              (typeof date === 'string' ? (
                <span>{date}</span>
              ) : (
                <FormattedDate date={date} />
              ))}
            {readingTime && <span>{readingTime}</span>}
          </div>
        )
      }
      {
        tags.length ? (
          <div class="mb-16">
            {tags.map((tag) => (
              <span class="mx-1 rounded border-2 border-gray-500 bg-gray-400 bg-opacity-20 p-1">
                {tag}
              </span>
            ))}
          </div>
        ) : null
      }
    </div>
    <div class:list={[prose, 'mt-12 mb-8']}>
      <slot />
    </div>
  </article>
</BaseLayout>
